<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= render @codebase_agent_service %>

  <div id="agent_runs" class="card bg-primary">
    <% @codebase_agent_service.agent_runs.reorder(created_at: 'DESC').root.first(5).each do |agent_run| %>
      <%= render agent_run %>
    <% end %>
  </div>

  <div class="inline-block ml-2">
    <%= button_to "Destroy this codebase_agent_service", codebase_agent_service_path(@codebase_agent_service), method: :delete, class: "btn btn-error text-white" %>
  </div>
  <%= link_to "Back to codebase_agent_services", codebase_agent_services_path, class: "btn btn-neutral text-white" %>
</div>

</div>
