<div id="<%= dom_id agent_run %>" class="card bg-neutral m-3 p-3 mb-5">
  <div class="card-body">
    <div class="collapse-title">
      <h2 class="card-title"> <%= agent_run.name %> 
      <% if agent_run.finished_at %>
        <span class="badge badge-outline badge-<%= agent_run.success? ? "success" : "error" %>">
          Finished: <%= agent_run.duration.inspect %>
        </span>
      <% else %>
        <span class="badge badge-outline badge-warning">running</span>
      <% end %>
        <% if @agent_run.id %>
          <%= button_to "Retry", agent_run_retry_path(@agent_run), class: "btn btn-error"  %>
        <% end %>
      </h2>

       <% tools = agent_run.arguments["tools"] %>
      <div class="w-full">
        <label class="label">
          <span class="label-text">Tools</span>
        </label>
        <% tools.each do |tool| %>
          <span class="badge badge-outline badge-warning">
            <%= tool %>
          </span>
        <% end %>

      </div>

      <% agent_run.arguments.except("tools").each do |argument, value| %>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text"><%= argument.capitalize %></span>
          </label>
          <input type="text" class="input input-bordered " disabled
            value="<%= value %>"
          />
        </div>
      <% end %>
    </div>

    <div class="">
      <% if agent_run.error %>
      <p class="my-5">
        <strong class="block font-medium mb-1">Error: <%= agent_run.error['class'] %></strong>
        <p><%= agent_run.error['message'] %></p>
        <textarea class="textarea textarea-info w-full textarea-md" placeholder="">
          <%= agent_run.error['backtrace'].join("\n") %>
        </textarea>
      </p>
      <% end %>

      <% if agent_run.finished_at %>
      <p class="my-5">
        <strong class="block font-medium mb-1">Output:</strong>
        <% [*agent_run.output].each do |output| %>
          <% output = output.to_s %>
          <textarea class="textarea textarea-info w-full textarea-md" rows="<%= output.lines.count %>" placeholder=""><%= script_to_html output %></textarea>
        <% end %>
      </p>
      <% end %>

      <div class="my-5">
        <strong class="block font-medium mb-1">Context:</strong>
        <% json = JSON.pretty_generate(agent_run.context) %>
        <textarea class="textarea textarea-info w-full textarea-md" rows="<%= json.lines.count %>" placeholder=""><%= script_to_html json %></textarea>
      </div>

      <ul class="timeline timeline-vertical timeline-compact">
        <% agent_run.children.each do |child| %>
          <li class="">
            <hr />
            <div class="timeline-middle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-secondary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            <div class="timeline-end timeline-box">
              <%= link_to child.name, child, class: '' %>
              <% if child.parent_checkpoint %>
                 <span class="badge badge-outline badge-info"><%= child.parent_checkpoint %></span>
              <% end %>
              <% if child.finished_at %>
                <span class="badge badge-outline badge-<%= child.success? ? "success" : "error" %>">
                  Finished: <%= child.duration.inspect %>
                </span>
              <% else %>
                <span class="badge badge-outline badge-warning">running</span>
              <% end %>
              <input type="text" class="input input-bordered w-full" disabled value="<%= child.arguments["question"] || child.context["assignment"] %>" />
            </div>
            <hr/>

          </li> 
        <% end %>
      </ul>

      <% if false %>
        <%= render partial: 'agent_runs/tree_view', locals: { agent_run: agent_run } %>
      <% end %>

      <div class="card-actions justify-end">
      <% if action_name != "show" %>
        <%= link_to "More details", agent_run, class: "btn btn-secondary" %>
      <% else %>
        <%= button_to 'Destroy this agent_run', agent_run_path(agent_run), method: :delete, class: "btn btn-error" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
