<div id="<%= dom_id task %>" data-controller="tasks">
  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= task.description %>
    </strong>
    <% if task.exit_code %>
    Finished at <%= task.finished_at %> with exit code <%= task.exit_code %>
    <% end %>
  </p>

  <p class="my-5">
    <!-- 
      render the task.script like it would be rendered in a code editor like vscode 
      making use of the tailwind css classes
    -->
    <div class="text-sm text-gray-700 bg-gray-100 rounded-lg p-3 w-full">
      <pre><code><%= script_to_html(task.script) %></code></pre>
    </div>

  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Output:</strong>
    <div class="text-sm text-gray-700 bg-gray-100 rounded-lg p-3 w-full">
      <pre><%= ansi_to_html task.standard_output %></pre>
      <% if true # task.exit_code.nil? %>
        <pre><%= turbo_frame_tag "#{dom_id task}_output" %></pre>
      <% end %>
    </div>
  </p>
</div>
