<div id="<%= dom_id codebase %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= codebase.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= codebase.url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this codebase", codebase, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this codebase', edit_codebase_path(codebase), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

  <% if codebase.checked_out %>
    <% if codebase.context.blank? %>
      <%= link_to "Detect testing infrastructure", codebase_discover_testing_infrastructure_path(codebase), data: { turbo_method: :post }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
    <% end%>
    <%= link_to "Visit github issue", codebase.main_issue_url, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
  <% end %>
</div>
