<div id="<%= dom_id codebase %>" class="card bg-base-200 shadow-xl mt-4 mb-4">
  <div class="card-body">
    <h3 class="card-title">
      <%= codebase.name %>
      <div class="badge badge-accent badge-outline">
        <%= codebase.url %>
      </div>
    </h3>

    <div class="card-actions justify-end">
    <% if action_path != "codebases#show" %>
      <%= link_to "Show this codebase", codebase, class: "btn btn-primary" %>
    <% end %>

    <% if controller_name == "codebases" %>
      <%= link_to "Edit this codebase", edit_codebase_path(codebase), class: "btn btn-primary" %>
      <%= button_to "Destroy this codebase", codebase_path(@codebase), method: :delete, class: "btn btn-error" %>
    <% end %>

    <% if codebase.checked_out %>
      <% if codebase.context.blank? %>
        <%= link_to "Detect testing infrastructure", codebase_discover_testing_infrastructure_path(codebase), data: { turbo_method: :post }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
      <% end %>
      <%= link_to "Visit github issue", codebase.main_issue_url, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
