<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Codebases</h1>
    <%= link_to "New codebase", new_codebase_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="codebases" class="min-w-full">
    <%= render @codebases %>
  </div>

  <div id="autonomous_assignments_output">
    <%= turbo_stream_from :autonomous_assignment_events %>
    <%= turbo_frame_tag "autonomous_assignment_events", class: "min-w-full" do %>
    <% end %>
  </div>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tasks</h1>
    <%= turbo_frame_tag @new_task do %>
      <%= render "tasks/form", task: @new_task %>
    <% end %>
  </div>

  <%= turbo_stream_from :tasks %>
  <%= turbo_frame_tag "tasks", class: "min-w-full" do %>
    <%= render @tasks.reverse %>
  <% end %>
</div>