<%= form_with(model: codebase, class: "contents") do |form| %>
  <% if codebase.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(codebase.errors.count, "error") %> prohibited this codebase from being saved:</h2>

      <ul>
        <% codebase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class="my-5">
    <%= form.label :url, class: "label" %>
    <%= form.text_field :url, class: "input input-bordered input-primary w-full max-w-xs" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
